/* src/css/fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Satoshi&family=Integral+CF&display=swap');

:root {
  --font-satoshi: 'Satoshi', sans-serif;
  --font-integral: 'Integral CF', sans-serif;
}

body {
  font-family: var(--font-satoshi);
}